# Node dependencies
node_modules/

# Firebase Cache & logs
.firebase/
firebase-debug.log*
ui-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
